body{ 
    font-family: 'Times New Roman', Times, serif;
}
.menu img {
    width: 100x;
    height: 100px;
    border-radius: 60px;
    border: 1px solid rgb(170, 196, 235);
    margin: 30px 0px 0px 30px;
    float: left;
}
.menu ul {
    display: block;
    width: auto;
    list-style-type: none;
    text-align: center;
    float: left;
}
.menu ul li {
    display: inline-table;
    width: 120px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    padding-right: 0;
}
.menu ul li a { 
    color: rgb(13, 48, 163);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin: 50px 0px 0px 0px;
}

.sub-menu li h1{
    display: block;
    width: 160px;
    height:120x;
    line-height: 30px;
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: rgb(24, 151, 236);
    font-weight: lighter;
    right: 0;
    opacity: 0;
}
.menu ul li a:hover{
    background: white;
    color: rgb(125, 138, 211);
}
.menu ul li:hover .sub-menu li h1{
    display: block;
    opacity: 1;
}
.sub-menu li h1:hover{
    background: gainsboro;
    color: rgb(11, 20, 73);
}


.slidershow{
    background: white;
    width: 800px;
    height: 500px;
    overflow: hidden;
    
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.slides{
    width: 500%;
    height: 100%;
    display: flex;

}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 10px;
    background: rgb(25, 27, 53);
}
.dot:hover{
    background: grey;
}
input[name="image"]{
    position: absolute;
    visibility: hidden;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}

.about{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    clear: both;
    flex-wrap: wrap;
    height: 620px;
}
.item {
    text-align: center;
    width: 350px;
    height: 200px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    margin:0px 15px 0px 20px;
    padding-top: 10px;
}

.item p{
    font-size:14px;
    font-weight: lighter;
    line-height: 20px;
}

.fas{
    font-size: 40px;
    color: rgb(66, 65, 65);
    margin: 70px 0 0 175px;
}
.row{
    width: 100%;
    height: 100%;
}
.row img{
    height: 300px;
}
.accomodation{
    margin-top: 100px;
}
.room p{
    font-size: 24px;
    color: rgb(77, 71, 71);

}
.cafe{
    margin-top: 100px;
}
.cafe p{
    font-size: 40px;
    color: rgb(77, 71, 71);
    text-decoration: overline;
    padding-top: 10px;
    
}
.brasnam{
    margin-top: 100px;
}
.brasnam1 .col-sm-12 {
    font-size: 40px;
    color: rgb(77, 71, 71);
    text-decoration: overline;
    margin-top: 10px;
}
.sail {
    margin-top: 70px;
}
.sail1{
    margin-top: 20px;
}
.sail1 p{
    font-size: 40px;
    color: rgb(77, 71, 71);
    text-decoration: overline;
    text-align: left;
    padding-top: 200px;

}
.lounge p{
    font-size: 34px;
    color: rgb(77, 71, 71);
    text-decoration: overline;
    text-align: left;
    padding-top: 200px;
}
.lounge{
    margin-top:70px;
}
.lounge1{
    margin-top: 20px;
}

.footer{
    display: grid;
    margin-top: 100px;
    padding: 50px;
    grid-template-columns: 300px 300px 400px 200px;
    grid-template-rows: 220px 100px ;
    background-color:white;
}

.accom{
    margin-top: 100px;
}
.accom h{
    color: rgb(29, 27, 27);
    font-size: 26px;
}

.footer-list{
    list-style-type: none;
    padding: 0;
    
}

.footer-list li a{
    text-decoration: none;
    color: grey;
    line-height: 24px;
    font-size: 16px;

}
.fab{
    font-size: 24px;
    color: rgb(66, 65, 65);
}
.container hr {
	border-top: 2px solid rgba(155, 154, 236, 0.4);
	width: 95%;	
	margin-bottom: 30px;
}

.brand img{
    width: 100x;
    height: 100px;
    border-radius: 60px;
    border: 2px solid rgb(170, 196, 235);
    margin: 0 550px 50px 550px;
    
}
